h1{
    color: black;
}
#ESPORTES h2 {
    color: blue;
}


#ECONOMIA h2{
    color: gold
    ;
}

#mercado de trabalho h3{
    color: azure;
}


#POLITICA h3{
    color: red;
}

